@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Resting Renee's Recovery Resort</h1>
    <p> Tried,a need to get away From the world </p><"div class="text-center ">
        <div class="row">
            <div
                class="col-4"
            >
                First Column
            </div>
            <div
                class="col-4"
            >
                Second Column
            </div>
            
        </div>
    </div>
    <div class="text-center ">
        <div class="row">
            <div
                class="col-4"
            >
                First Column
            </div>
            <div
                class="col-4"
            >
                Second Column
            </div>
            
        </div>
    </div>
     </p>><div class="text-center">
        <div class="row">
            <div
                class="col-4"
            >
                First Column
            </div>
            <div
                class="col-4"
            >
                Second Column
            </div>
            
        </div>
    </div>
     world From Sharissa Sullivan</p>
    <p> Today is going to be a good day.</p>
    <p> today is another day , smile </p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
